<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms
      name="401kApp"
      loginUrl="/login.aspx"
      cookieless="AutoDetect"
      defaultUrl="myCustomLogin.aspx">
        <credentials passwordFormat = "SHA1">
          <user name="Admin"
          password="secret"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
</configuration>

